@font-face {
    font-family: "IBM Plex Sans Thai";
    src: url("./IBMPlexSansThai-Medium.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: "IBM Plex Sans Thai";
    src: url("./IBMPlexSansThai-SemiBold.ttf");
    font-weight: 500;
  }
  
  @font-face {
    font-family: "IBM Plex Sans Thai";
    src: url("./IBMPlexSansThai-Bold.ttf");
    font-weight: 700;
  }
  
  @font-face {
    font-family: "IBM Flex Sans Thai Loop";
    src: url("./IBMPlexSansThaiLooped-Regular.ttf");
    font-weight: 400;
  }
  